<div id="wrapper" class="clearfix">
<strong style="font-size: 1.5em;">About Mugshot Wars</strong>
<div style="font-size: 0.9em; width: 350px; background: #feffb6; padding: 10px; float: right;">
<p><strong>Feedback</strong></p>
<p>Have a question or suggestion about the site? Did you find an incorrect piece of data?</p>
<p>I check my email often, you can reach me at: <pre>diffference@gmail.com</pre></p>
<p><small>(that's 3 F's)</small></p>
</div>
<p>Mugshots are serious business. We're out to find the best one and we're hoping you can help us.</p>
<p>
	<img src="/images/node.png" width="150" />
	<img src="/images/redis.png" /><br />
	<img src="/images/nginx.png" width="150" />
	<img src="/images/amazon.png" width="150" />
</p>
<p>This is a weekend hacking project of mine. You can <a href="http://campedersen.com/">
view my blog here</a>.</p>
<p>If you are interested in working with me on a website or software project
of your own, you can <a href="http://oak.io/">view my portfolio here</a>.</p>
</div>
